# REQUIREMENTS FOR CONDA INSTALLATION (EXCLUDING DTOCEAN PACKAGES)
basemap
cmocean
contours
cycler
Cython
descartes
geoalchemy2
matplotlib <2
monotonic
natsort
netcdf4 =1.4.*
numpy
openpyxl
packaging
pandas >=0.18
pil
psycopg2
pyproj
python-dateutil
pyyaml
scipy
setuptools
shapely
utm
xarray
xlrd
xlsxwriter
xlwt
