# REQUIREMENTS FOR CONDA INSTALLATION (EXCLUDING DTOCEAN PACKAGES)
basemap
cma
cmocean-matplotlib
contours
cycler
descartes-matplotlib
geoalchemy2
matplotlib <2
monotonic
natsort
netcdf4
numpy
openpyxl <3
packaging
pandas >=0.18
pil
psycopg2
pyproj
pyshp
python-dateutil
pyyaml
ruamel.yaml
ruamel.yaml.clib
scipy
setuptools
shapely
utm
xarray
xlrd <2
xlsxwriter <3
xlwt
