# REQUIREMENTS FOR CONDA INSTALLATION

# INSTALLATION REQUIRED DEPENDENCIES
aneris =0.10.dev2
basemap
cmocean
contours
cycler
geoalchemy2
matplotlib
monotonic
natsort
netcdf4
numpy
openpyxl
packaging
pandas >=0.18
pil
polite =0.10.dev1
psycopg2
pyproj
pyqt =4.11.4
python-dateutil
pyyaml
shapely
utm
xarray
xlrd
xlwt

# TEST DEPENDENCIES
pytest-cov
pytest-mock
